extends layout

block content
    .js
        img.w3-display.left(src='/images/newicon.png' style='height:60px;width:150px;margin-left:50px;position:absolute;')
        nav
        
          ul 
            
            li
              a(href='/') 

                strong HOME	
            li
              a(href='/items') 
                strong EVENTS
            li
              a(href='/items/add') 
                strong ADD EVENT
            li
              a(href='/auth/logout')
                strong LOG OUT
        
        .content(style="margin-bottom:10%;")
            .container
              .card
                .product-rating
                h2.product-title #{item.name}
              .card
                .product-image-group
                  img.product-image-main(src='#{item.imageUrl1}', alt='')
                  .secondary-image-group
                    img.product-image-secondary(src='#{item.imageUrl2}', alt='')
                    img.product-image-secondary(src='#{item.imageUrl3}', alt='')
              .card
                .ribbon
                  |  Price
                .price
                  | #{item.price}
                  span  
                
              .card
                strong Description:
                p
                  | #{item.description}
                hr
                .split
                  span Location:
                  span #{item.status}
                hr
                .split
                  span Date Posted:
                  span #{moment(item.createdate).format("LLL")}
                hr
                if user.username == item.sellername
                  a(href='/items/' + item._id+'/edit')
                    button.product-docs
                      i.fa.fa-pencil-square-o(aria-hidden='true')
                      |  Edit Item
                  a(href='/items/' + item._id+'/delete')
                    button.product-docs
                      i.fa.fa-trash-o(aria-hidden='true')
                      |  Delete Item
                else
                
              .card
                .split
                  strong Promoter Details:
                h3
                span  #{item.sellername}
                hr
                span Contact No.: #{item.sellercontact}
                hr
                span Full Name: #{item.sellerfirst_name} #{item.sellerlast_name}
                hr
                span Email Address: #{item.selleremail}