extends layout

block content
    .js
        input#seller(type='hidden', value='#{user.username}')
        img.w3-display.left(src='/images/newicon.png' style='height:60px;width:150px;margin-left:50px;position:absolute;')
        nav
        
          ul 
            
            li
              a(href='/') 

                strong HOME 
            li
              a(href='/items') 
                strong EVENTS
            li
              a(href='/items/add') 
                strong ADD EVENT
            li
              a(href='/auth/logout')
                strong LOG OUT
        
        .content
         input#seller(type='hidden', value='#{user.username}')
         header.profile-card_header

                  if (user.facebook)
                        .profile-card_header-container
                          .profile-card_header-imgbox
                            img(src='#{user.photo}', alt='Profile Pic')
                          h1
                            | #{user.username}
                            span #{user.email}
                          .profile-card_about
                            h2 #{user.first_name} #{user.last_name}
                            p
                              h6 First Name: #{user.first_name}
                              h6 First Name: #{user.last_name}
                              h6 CONTACT NO.: #{user.contact}
                              h6 Contact For More Information!
                              h6 Inquire NOW!
                            hr
                        h1 EVENTS ADDED
                       
                        #table-body.wrapper
                  else
                        .profile-card_header-container
                          .profile-card_header-imgbox
                            img(src='#{user.photo}', alt='Profile Pic')
                          h1
                            |  #{user.username}
                            span #{user.email}
                          .profile-card_about
                            h2 #{user.first_name} #{user.last_name}
                            p
                              i.fa.fa-facebook  
                                a(href='#', target='_blank') Go to Facebook Page
                              h6 SCHOOL: #{user.school}
                              h6 CONTACT NO.: #{user.contact}
                            hr
                        h1 EVENTS ADDED
                       
                        #table-body.wrapper
                                
